# LlamaIndex
llama-index
llama-index-llms-groq
llama-index-embeddings-huggingface
llama-index-graph-stores-neo4j
llama-index-vector-stores-qdrant

# Neo4j
neo4j

# Vector Database
qdrant-client

# Embeddings
sentence-transformers==3.0.1
transformers==4.41.2
torch==2.2.2
numpy==1.26.4

# API
fastapi
uvicorn[standard]

# UI
streamlit

# Environment
python-dotenv

# Document Processing
pypdf
python-multipart